<<<<<<< HEAD
// --- Fonts ---
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

// --- Variables --- 
@use './vars';
=======
// --- Variables --- 
@use './vars';

// --- Fonts ---
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

>>>>>>> 0eb79e8 (feat: affichage dynamique de la liste des devises)

// --- Reset ---
* {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  color: inherit;
  background-color: inherit;
  border: none;
}

// --- Commons --- 
body {
  font-family: "League Spartan";
  background-color: vars.$color-alt;
}